{% extends "index/base.html" %}
{% load static %}
{% block content %}

 <div class='container' style="text-align: center">
{% for project in projects %}
	{% ifequal title project.title %}
		
		<h1><b>{{project.title}}<br><br></b></h1>
		
		<p>{{project.description}}</p><br>
		
		<h3><b>Students</b></h3></br>
		<p> {{project.student1_name}}</p>
		<p> {{project.student2_name}}</p>
		<p> {{project.student3_name}}</p>
		<p> {{project.student4_name}}</p><br>

		<h3><b>Mentor</b></h3></br>
		<p>{{project.mentor}}</p><br>

		<h3><b>Scope</b></h3></br>
		<p> {{project.scope}} </p><br>
		{% if project.awards != '' %}
			<h3><b>Awards</b></h3>
			<p> {{project.awards}} </p><br>
		{% endif %}


	{% endifequal %}
{% endfor %}
</div>

{% endblock content %}