{% extends "index/base.html" %}
{% load static %}
{% block content %}
  <!-- Banner that is somaiya image -->
  <div class="banner1">
  </div>
  <!-- End of somaiya banner -->

<!-- This styling is different from the base file and is used for the card layout only -->
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.aclass {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<!-- main page -->

  <div class="container">
    <!-- This is the theme of the site so that we need to continue that only -->
    <div class="galley-grid">
      <h3 class="agile">Project Team</h3>
    </div>
    <!-- End of title styling -->
    

    <!-- Card layout theme of students -->
    <div class="col-md-4 about-poleft">
      <div class="card">
        <img src="{% static 'images/kunj.jpeg' %}" alt="Kunj" style="width:100%">
        <h1>Kunj Haria</h1>
        <p class="title">Student</p>
        <p>Somaiya University</p>
        <p>kunj.ch@somaiya.edu</p>
        <div style="margin: 24px 0;">
          <a class="aclass" href="#"><i class="fa fa-twitter"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-linkedin"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      </div>
    </div>

    <div class="col-md-4 about-poleft">
      <div class="card">
        <img src="{% static 'images/tanish.jpg' %}" alt="John" style="width:100%">
        <h1>Tanish Sehgal</h1>
        <p class="title">Student</p>
        <p>Somaiya University</p>
        <p>tanish.sehgal@somaiya.edu</p>
        <div style="margin: 24px 0;"> 
          <a class="aclass" href="#"><i class="fa fa-twitter"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-linkedin"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      </div>
    </div>

    <div class="col-md-4 about-poleft">
      <div class="card">
        <img src="{% static 'images/simith.jpeg' %}" alt="John" style="width:100%">
        <h1>Simith bhojani</h1>
        <p class="title">Student</p>
        <p>Somaiya University</p>
        <p>simith.bhojani@somaiya.edu</p>
        <div style="margin: 24px 0;">
          <a class="aclass" href="#"><i class="fa fa-twitter"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-linkedin"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      </div>
    </div>
  

  <!-- Faculty details -->
  <div class="galley-grid">
      <h3 class="agile">Project Faculty Team</h3>
  </div>

  <div class="col-md-4 about-poleft">
      <div class="card">
        <img src="{% static 'images/vaibhav.jpeg' %}" alt="Vaibhav Vasani" style="width:100%">
        <h1>Vaibhav Vasani</h1>
        <p class="title">Faculty</p>
        <p>Somaiya University</p>
        <p>vaibhav.vasani@somaiya.edu</p>
        <div style="margin: 24px 0;">
          <a href="#" class="aclass"><i class="fa fa-twitter"></i></a>  
          <a href="#" class="aclass"><i class="fa fa-linkedin"></i></a>  
          <a href="#" class="aclass"><i class="fa fa-facebook"></i></a> 
        </div>
      </div>
    </div>

    <div class="col-md-4 about-poleft">
      <div class="card">
        <img src="{% static 'images/Pradnya.jpeg' %}" alt="Pradnya Gotmare" style="width:100%">
        <h1>Pradnya Gotmare</h1>
        <p class="title">Faculty</p>
        <p>Somaiya University</p>
        <p>pradnyagothmare@somaiya.edu</p>
        <div style="margin: 24px 0;">
          <a class="aclass" href="#"><i class="fa fa-twitter"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-linkedin"></i></a>  
          <a class="aclass" href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      </div>
    </div>

  </div>

{% endblock content%}
